@import '@angular/cdk/overlay-prebuilt.css';

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --lime-50: #f3faeb;
  --lime-100: #e6f3d4;
  --lime-200: #cee9ad;
  --lime-300: #aed97d;
  --lime-400: #9ece6a;
  --lime-500: #71ac36;
  --lime-600: #568927;
  --lime-700: #436922;
  --lime-800: #385420;
  --lime-900: #31481f;
  --lime-950: #17270c;

  --background-0: oklch(98.5% 0.002 247.839); /* gray-50 */
  --background-1: oklch(96.7% 0.003 264.542); /* gray-100 */
  --background-2: oklch(92.8% 0.006 264.531); /* gray-200 */
  --background-3: oklch(87.2% 0.01 258.338); /* gray-300 */
  --background-4: oklch(70.7% 0.022 261.325); /* gray-400 */
  --background-5: oklch(55.1% 0.027 264.364); /* gray-500 */

  --foreground-0: oklch(45% 0.017 213.2); /* mist-600 */
  --foreground-1: oklch(45% 0.017 213.2); /* mist-600 */
  --foreground-2: oklch(56% 0.021 213.5); /* mist-500 */
  --foreground-3: oklch(56% 0.021 213.5); /* mist-500 */
  --foreground-4: oklch(56% 0.021 213.5); /* mist-500 */
  --foreground-5: oklch(72.3% 0.014 214.4); /* mist-400 */
}

.dark {
  --background-0: oklch(13% 0.028 261.692); /* gray-950 */
  --background-1: oklch(21% 0.034 264.665); /* gray-900 */
  --background-2: oklch(27.8% 0.033 256.848); /* gray-800 */
  --background-3: oklch(37.3% 0.034 259.733); /* gray-700 */
  --background-4: oklch(44.6% 0.03 256.802); /* gray-600 */
  --background-5: oklch(55.1% 0.027 264.364); /* gray-500 */

  --foreground-0: oklch(72.3% 0.014 214.4); /* mist-400 */
  --foreground-1: oklch(72.3% 0.014 214.4); /* mist-400 */
  --foreground-2: oklch(72.3% 0.014 214.4); /* mist-400 */
  --foreground-3: oklch(56% 0.021 213.5); /* mist-500 */
  --foreground-4: oklch(45% 0.017 213.2); /* mist-600 */
  --foreground-5: oklch(45% 0.017 213.2); /* mist-600 */
}

@theme inline {
  --font-cascadia: 'Cascadia Code', monospace;

  --color-lime-50: var(--lime-50);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-300: var(--lime-300);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-700: var(--lime-700);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-lime-950: var(--lime-950);

  --color-background-0: var(--background-0);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);
  --color-background-5: var(--background-5);

  --color-foreground-0: var(--foreground-0);
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-foreground-3: var(--foreground-3);
  --color-foreground-4: var(--foreground-4);
  --color-foreground-5: var(--foreground-5);

  --animate-fade-in: fade-in 0.15s ease-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.15s ease-in;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-slide-up-in: slide-up-in 0.3s ease-out;
  --animate-slide-up-out: slide-up-out 0.3s ease-in;
  @keyframes slide-up-in {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-up-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }

  --animate-slide-down-in: slide-down-in 0.3s ease-out;
  --animate-slide-down-out: slide-down-out 0.3s ease-in;
  @keyframes slide-down-in {
    from {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(0.5rem);
    }
  }

  --animate-slide-left-in: slide-left-in 0.3s ease-out;
  --animate-slide-left-out: slide-left-out 0.3s ease-in;
  @keyframes slide-left-in {
    from {
      opacity: 0;
      transform: translateX(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-left-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
  }

  --animate-slide-right-in: slide-right-in 0.3s ease-out;
  --animate-slide-right-out: slide-right-out 0.3s ease-in;
  @keyframes slide-right-in {
    from {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-right-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(0.5rem);
    }
  }

  --animate-loading-circular-outer: 1.4s linear 0s infinite normal none running
    loading-circular-progress;
  --animate-loading-circular-inner: 1.4s ease-in-out 0s infinite normal none running
    loading-circular-linear;
  @keyframes loading-circular-progress {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading-circular-linear {
    0% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -15px;
    }
    100% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -125px;
    }
  }
}

@layer base {
  body {
    @apply font-cascadia bg-background-0 text-foreground-0;
  }

  /* Change default billboard tick and axis colors */
  .bb .bb-main .tick text {
    fill: var(--foreground-0);
  }

  .bb .bb-main .tick line {
    stroke: var(--foreground-2) !important;
  }

  .bb .bb-main .bb-axis path.domain {
    stroke: var(--foreground-2) !important;
  }
}

@layer components {
  .kbd {
    @apply bg-background-2 text-foreground-2 inline-block rounded px-2 py-1 font-mono text-xs text-nowrap shadow-sm;
  }

  .card {
    @apply bg-background-1 text-foreground-1 rounded-lg p-6 shadow-md;
  }

  .info-card {
    @apply bg-background-1 text-foreground-1 flex flex-col gap-2 rounded p-4 shadow-md;

    .info-title {
      @apply text-foreground-1 text-sm font-medium;
    }

    .info-content {
      @apply text-foreground-2 text-sm;
    }
  }

  .chip {
    @apply bg-background-2 text-foreground-2 inline-block rounded px-2 py-1 text-sm shadow-sm;

    &.chip-outline {
      @apply text-foreground-0 border-foreground-2 border bg-transparent;
    }

    &.chip-xs {
      @apply text-xs;
    }
  }

  /**
    @example
    <div class="loading-bar-box">
      <!-- Loading Indicator Here -->
    </div>
  */
  .loading-bar-box {
    @apply flex h-48 items-center justify-center rounded border-2 border-dashed border-gray-300 select-none dark:border-gray-600;
  }

  /**
    @example
    <div class="error-box">
      <div class="error-content">
        <p>Error Message</p>
      </div>
    </div>
  */
  .error-box {
    @apply flex h-48 items-center justify-center rounded border-2 border-dashed border-gray-300 select-none dark:border-gray-600;
  }
  .error-content {
    @apply flex flex-col gap-2 font-semibold text-gray-300 dark:text-gray-600;
  }

  /*
    @example
    <pre class="code-block">
      <code>...</code>
    </pre>
  */
  .code-block {
    @apply bg-background-2 text-foreground-2 flex w-full cursor-pointer items-center justify-center gap-2 rounded p-4 shadow;

    pre {
      @apply flex items-center overflow-auto px-4;

      &::-webkit-scrollbar {
        @apply hidden;
      }

      scrollbar-width: none;
    }

    .code-copy {
      @apply flex h-full w-fit items-center justify-center px-1;
    }
  }

  .btn {
    @apply cursor-pointer rounded bg-indigo-300 px-3 py-2 text-mist-700 select-none hover:brightness-105 dark:bg-indigo-700 dark:text-mist-200 dark:hover:brightness-95;

    &.btn-ghost {
      @apply hover:bg-background-2 dark:hover:bg-background-3 bg-transparent;
    }

    &.btn-outline {
      @apply bg-transparent outline outline-indigo-300 hover:bg-indigo-300 dark:outline-indigo-700 dark:hover:bg-indigo-700;
    }

    &.btn-sm {
      @apply px-2 py-1 text-sm;
    }

    &:disabled {
      @apply bg-background-1 text-foreground-1 cursor-default hover:brightness-100;
    }
  }

  .form-field {
    @apply flex flex-col items-start gap-1 scheme-light dark:scheme-dark;

    &.rtl {
      @apply items-end text-right;
    }

    &.required > label {
      @apply after:ml-1 after:content-['*'];
    }

    label {
      @apply text-sm font-medium;
    }

    input {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;

      &:disabled {
        @apply bg-background-1 text-gray-400;
      }

      &.rtl {
        @apply text-right;
      }
    }

    select {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;

      option {
        @apply bg-background-0 text-foreground-0;
      }
    }

    textarea {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;
    }

    > .field-group {
      @apply flex w-64 items-center;

      span {
        @apply bg-background-0 text-foreground-0 w-fit rounded border border-gray-400 px-2 py-1.5 text-sm font-medium select-none;

        &.disabled {
          @apply bg-background-1 text-foreground-1;
        }
      }

      input,
      select {
        @apply w-full;
      }

      > :first-child:not(:only-child) {
        @apply rounded-l rounded-r-none border-r-0;
      }

      > :not(:first-child):not(:last-child) {
        @apply rounded-none border-r-0;
      }

      > :last-child:not(:only-child) {
        @apply rounded-l-none rounded-r;
      }
    }
  }

  .form-field-inline {
    @apply flex items-start gap-1 scheme-light dark:scheme-dark;

    &.required > label {
      @apply after:ml-1 after:content-['*'];
    }

    label {
      @apply text-sm font-medium;
    }

    input {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;

      &:disabled {
        @apply bg-background-1 text-foreground-1;
      }

      &.rtl {
        @apply text-right;
      }
    }

    select {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;

      option {
        @apply bg-background-0 text-foreground-0;
      }
    }

    textarea {
      @apply bg-background-0 text-foreground-0 focus-visible:outline-foreground-0 w-64 rounded border border-gray-400 px-2 py-1;
    }
  }

  .emo-shrug::before {
    content: '¯\\_(ツ)_/¯';
  }
  .emo-flip::before {
    content: '(╯°□°)╯︵ ┻━┻';
  }
  .emo-fyou::before {
    content: 't(-.-t)';
  }
  .emo-sparkles::before {
    content: '☆.。.:*・°☆.。.:*・°☆.。.:*・°☆.。.:*・°☆';
  }
  .emo-creepy::before {
    content: '( ° ͜ʖ °)';
  }
}

@layer utilities {
  .billboard-lines-thick {
    stroke-width: 2px !important;
  }

  .billboard-lines-dashed {
    stroke-dasharray: 4 6;
    stroke-width: 2px !important;
  }
}
