@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --lime-50: #f3faeb;
  --lime-100: #e6f3d4;
  --lime-200: #cee9ad;
  --lime-300: #aed97d;
  --lime-400: #9ece6a;
  --lime-500: #71ac36;
  --lime-600: #568927;
  --lime-700: #436922;
  --lime-800: #385420;
  --lime-900: #31481f;
  --lime-950: #17270c;

  --mirage-50: #f6f6f9;
  --mirage-100: #ebecf3;
  --mirage-200: #d4d6e3;
  --mirage-300: #aeb3cb;
  --mirage-400: #828aae;
  --mirage-500: #626b95;
  --mirage-600: #4d547c;
  --mirage-700: #404464;
  --mirage-800: #373b55;
  --mirage-900: #323548;
  --mirage-950: #1a1b26;

  --portage-50: #eff4ff;
  --portage-100: #dce6fd;
  --portage-200: #c1d3fc;
  --portage-300: #96b8fa;
  --portage-400: #7aa2f7;
  --portage-500: #406cf1;
  --portage-600: #2b4de5;
  --portage-700: #2239d3;
  --portage-800: #2230ab;
  --portage-900: #212e87;
  --portage-950: #191f52;

  --cyan-50: #f0f8ff;
  --cyan-100: #dff1ff;
  --cyan-200: #b8e3ff;
  --cyan-300: #7dcfff;
  --cyan-400: #33b6fd;
  --cyan-500: #099cee;
  --cyan-600: #007ccc;
  --cyan-700: #0062a5;
  --cyan-800: #045488;
  --cyan-900: #0a4670;
  --cyan-950: #062c4b;

  --indigo-50: #f0f3fd;
  --indigo-100: #e4e9fb;
  --indigo-200: #c0caf5;
  --indigo-300: #b0baf1;
  --indigo-400: #9097e9;
  --indigo-500: #7576df;
  --indigo-600: #615ad1;
  --indigo-700: #534ab8;
  --indigo-800: #453e95;
  --indigo-900: #3c3877;
  --indigo-950: #232145;

  --background-0: var(--mirage-50);
  --background-1: var(--mirage-100);
  --background-2: var(--mirage-200);
  --background-3: var(--mirage-300);
  --background-4: var(--mirage-400);
  --background-5: var(--mirage-500);

  --foreground-0: var(--cyan-600);
  --foreground-1: var(--cyan-600);
  --foreground-2: var(--cyan-500);
  --foreground-3: var(--cyan-500);
  --foreground-4: var(--cyan-500);
  --foreground-5: var(--cyan-400);
}

.dark {
  --background-0: var(--mirage-950);
  --background-1: var(--mirage-900);
  --background-2: var(--mirage-800);
  --background-3: var(--mirage-700);
  --background-4: var(--mirage-600);
  --background-5: var(--mirage-500);

  --foreground-0: var(--cyan-400);
  --foreground-1: var(--cyan-400);
  --foreground-2: var(--cyan-500);
  --foreground-3: var(--cyan-500);
  --foreground-4: var(--cyan-600);
  --foreground-5: var(--cyan-600);
}

@theme inline {
  --font-cascadia: 'Cascadia Code', monospace;

  --color-lime-50: var(--lime-50);
  --color-lime-100: var(--lime-100);
  --color-lime-200: var(--lime-200);
  --color-lime-300: var(--lime-300);
  --color-lime-400: var(--lime-400);
  --color-lime-500: var(--lime-500);
  --color-lime-600: var(--lime-600);
  --color-lime-700: var(--lime-700);
  --color-lime-800: var(--lime-800);
  --color-lime-900: var(--lime-900);
  --color-lime-950: var(--lime-950);

  --color-mirage-50: var(--mirage-50);
  --color-mirage-100: var(--mirage-100);
  --color-mirage-200: var(--mirage-200);
  --color-mirage-300: var(--mirage-300);
  --color-mirage-400: var(--mirage-400);
  --color-mirage-500: var(--mirage-500);
  --color-mirage-600: var(--mirage-600);
  --color-mirage-700: var(--mirage-700);
  --color-mirage-800: var(--mirage-800);
  --color-mirage-900: var(--mirage-900);
  --color-mirage-950: var(--mirage-950);

  --color-portage-50: var(--portage-50);
  --color-portage-100: var(--portage-100);
  --color-portage-200: var(--portage-200);
  --color-portage-300: var(--portage-300);
  --color-portage-400: var(--portage-400);
  --color-portage-500: var(--portage-500);
  --color-portage-600: var(--portage-600);
  --color-portage-700: var(--portage-700);
  --color-portage-800: var(--portage-800);
  --color-portage-900: var(--portage-900);
  --color-portage-950: var(--portage-950);

  --color-cyan-50: var(--cyan-50);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-cyan-400: var(--cyan-400);
  --color-cyan-500: var(--cyan-500);
  --color-cyan-600: var(--cyan-600);
  --color-cyan-700: var(--cyan-700);
  --color-cyan-800: var(--cyan-800);
  --color-cyan-900: var(--cyan-900);
  --color-cyan-950: var(--cyan-950);

  --color-indigo-50: var(--indigo-50);
  --color-indigo-100: var(--indigo-100);
  --color-indigo-200: var(--indigo-200);
  --color-indigo-300: var(--indigo-300);
  --color-indigo-400: var(--indigo-400);
  --color-indigo-500: var(--indigo-500);
  --color-indigo-600: var(--indigo-600);
  --color-indigo-700: var(--indigo-700);
  --color-indigo-800: var(--indigo-800);
  --color-indigo-900: var(--indigo-900);
  --color-indigo-950: var(--indigo-950);

  --color-background-0: var(--background-0);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);
  --color-background-5: var(--background-5);

  --color-foreground-0: var(--foreground-0);
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-foreground-3: var(--foreground-3);
  --color-foreground-4: var(--foreground-4);
  --color-foreground-5: var(--foreground-5);

  --animate-fade-in: fade-in 0.15s ease-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.15s ease-in;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-slide-up-in: slide-up-in 0.3s ease-out;
  --animate-slide-up-out: slide-up-out 0.3s ease-in;
  @keyframes slide-up-in {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-up-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }

  --animate-slide-down-in: slide-down-in 0.3s ease-out;
  --animate-slide-down-out: slide-down-out 0.3s ease-in;
  @keyframes slide-down-in {
    from {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(0.5rem);
    }
  }

  --animate-slide-left-in: slide-left-in 0.3s ease-out;
  --animate-slide-left-out: slide-left-out 0.3s ease-in;
  @keyframes slide-left-in {
    from {
      opacity: 0;
      transform: translateX(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-left-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
  }

  --animate-slide-right-in: slide-right-in 0.3s ease-out;
  --animate-slide-right-out: slide-right-out 0.3s ease-in;
  @keyframes slide-right-in {
    from {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-right-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(0.5rem);
    }
  }

  --animate-loading-circular-outer: 1.4s linear 0s infinite normal none running
    loading-circular-progress;
  --animate-loading-circular-inner: 1.4s ease-in-out 0s infinite normal none running
    loading-circular-linear;
  @keyframes loading-circular-progress {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading-circular-linear {
    0% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -15px;
    }
    100% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -125px;
    }
  }
}

@layer base {
  body {
    @apply font-cascadia bg-background-0 text-foreground-0;
  }
}

@layer components {
  .card {
    @apply bg-background-1 rounded p-6 shadow-md;
  }

  .chip {
    @apply bg-background-2 text-foreground-2 inline-block rounded px-2 py-1 text-sm;

    &.chip-xs {
      @apply text-xs;
    }
  }

  .loading-bar-box {
    @apply border-mirage-300 dark:border-mirage-600 flex h-48 items-center justify-center rounded border-2 border-dashed select-none;
  }

  .error-box {
    @apply border-mirage-300 dark:border-mirage-600 flex h-48 items-center justify-center rounded border-2 border-dashed select-none;

    .error-content {
      @apply text-mirage-300 dark:text-mirage-600 flex flex-col gap-2 font-semibold;
    }
  }

  /*
    @example
    <pre class="code-block">
      <code>...</code>
    </pre>
  */
  .code-block {
    @apply bg-background-2 hover:text-foreground-2 flex w-full cursor-pointer justify-center gap-2 rounded p-4 shadow transition-colors;

    pre {
      @apply overflow-auto px-4;

      &::-webkit-scrollbar {
        @apply hidden;
      }

      scrollbar-width: none;
    }

    .code-copy {
      @apply flex h-full w-fit items-center justify-center px-1;
    }
  }

  .btn {
    @apply bg-portage-300 text-mirage-900 hover:text-mirage-100 dark:bg-portage-400 dark:text-mirage-100 dark:hover:text-mirage-800 cursor-pointer rounded px-3 py-2 transition-colors;

    &.btn-ghost {
      @apply hover:bg-background-2 dark:hover:bg-background-3 text-foreground-1 dark:text-foreground-1 bg-transparent transition-colors;
    }

    &.btn-outline {
      @apply hover:bg-portage-300 dark:hover:bg-portage-400 hover:text-mirage-900 outline-portage-300 bg-transparent outline transition-colors;
    }

    &.btn-sm {
      @apply px-2 py-1 text-sm;
    }
  }

  .input {
    @apply border-mirage-400 bg-background-0 text-mirage-900 dark:text-mirage-100 w-64 rounded border px-2 py-1;
  }

  .form-field {
    @apply flex flex-col items-start gap-1;

    &.rtl {
      @apply items-end;
    }

    label {
      @apply text-sm font-medium;
    }

    input {
      @apply border-mirage-400 bg-background-0 text-mirage-900 dark:text-mirage-100 w-64 rounded border px-2 py-1;
    }
  }

  .form-field-inline {
    @apply flex items-start gap-1;

    label {
      @apply text-sm font-medium;
    }

    input {
      @apply border-mirage-400 bg-background-0 text-mirage-900 dark:text-mirage-100 w-64 rounded border px-2 py-1;
    }
  }
}
